@model IEnumerable<Codecamp.ViewModels.ScheduleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Build Codecamp Schedule</h2>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th class="col-md-1" style="text-align: center;">
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.TrackId)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.TimeslotId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel)
            </td>
            <td align="center">
                @Html.CheckBoxFor(modelItem => item.IsApproved,
                    new { @class = "medium-checkbox" })
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
