@model Codecamp.ViewModels.SpeakerViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd>
            <div style="max-width: 150px; max-height:150px; position: relative;">
                <img style="max-width: 150px; max-height: 150px;"
                     class="speakerImage"
                     id="@(string.Format("{0}", Model.SpeakerId))"
                     src=@("/images/default_user_icon.jpg")
                     alt="@(string.Format("{0}", Model.FullName))" />
                @if (Model.IsMvp)
                {
                    <img style="width: 30px; height: 30px; z-index: 10; position: absolute; right: 20px; bottom: 20px;"
                         src=@("/images/ms-mvp.jpg") alt=@("Microsoft MVP") />
                }
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoteToOrganizers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteToOrganizers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMvp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMvp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkedIn)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SpeakerId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.speakerImage').each(function () {
                setSpeakerImage(this, this.id);
            });
        });
    </script>
}
