@using Microsoft.AspNetCore.Identity
@inject UserManager<CodecampUser> UserManager
@inject Codecamp.BusinessLogic.ISessionBusinessLogic sessionBL
@model Codecamp.ViewModels.SpeakerViewModel

@{
    ViewData["Title"] = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Get the speaker Id
    int? speakerId = null;
    var user = await UserManager.GetUserAsync(User);
    if (user != null)
    {
        speakerId = user.SpeakerId;
    }
}

<h2>@ViewData["Title"]</h2>

@if (!string.IsNullOrEmpty(Model.CompanyName))
{
    <h3>@Model.CompanyName</h3>
}

<div>
    <div style="max-width: 150px; max-height:150px; position: relative;">
        <img style="max-width: 150px; max-height: 150px;"
             class="speakerImage"
             id="@(string.Format("{0}", Model.SpeakerId))"
             src=@("/images/default_user_icon.jpg")
             alt="@(string.Format("{0}", Model.FullName))" />
        @if (Model.IsMvp)
        {
            <img style="width: 30px; height: 30px; z-index: 10; position: absolute; right: 20px; bottom: 20px;"
                 src=@("/images/ms-mvp.jpg") alt=@("Microsoft MVP") />
        }
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.TwitterHandle))
{
    <div>
        <span style="font-weight: bold;">@Html.DisplayNameFor(model => model.TwitterHandle):</span>
        <span>
            @{
                var twitterHandle
                    = Model.TwitterHandle.StartsWith('@')
                    ? Model.TwitterHandle.Substring(1)
                    : Model.TwitterHandle;
            }
            <a href="https://twitter.com/@twitterHandle">@Model.TwitterHandle</a>
        </span>
    </div>
}

@if (!string.IsNullOrEmpty(Model.LinkedIn))
{
    <div>
        <span style="font-weight: bold;">@Html.DisplayNameFor(model => model.LinkedIn):</span>
        <span>
            @{
                var linkedInHandle
                = Model.LinkedIn.StartsWith('@')
                ? Model.LinkedIn.Substring(1)
                : Model.LinkedIn;

            }
            <a href="https://linkedin.com/in/@linkedInHandle">@Model.LinkedIn</a>
        </span>
    </div>
}

@if (!string.IsNullOrEmpty(Model.WebsiteUrl))
{
    <div>
        <span style="font-weight: bold;">@Html.DisplayNameFor(model => model.WebsiteUrl):</span>
        <span>
            @{
                var websiteUrl
                = !Model.WebsiteUrl.StartsWith("http")
                ? "http://" + Model.WebsiteUrl
                : Model.WebsiteUrl;

            }
            <a href=@websiteUrl>@Model.WebsiteUrl</a>
        </span>
    </div>
}

@if (!string.IsNullOrEmpty(Model.BlogUrl))
{
    <div>
        <span style="font-weight: bold;">@Html.DisplayNameFor(model => model.BlogUrl):</span>
        <span>
            @{
                var blogUrl
                    = !Model.BlogUrl.StartsWith("http")
                    ? "http://" + Model.BlogUrl
                    : Model.BlogUrl;

            }
            <a href=@blogUrl>@Model.BlogUrl</a>
        </span>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Bio))
{
    <div>
        <span style="font-weight: bold;">@Html.DisplayNameFor(model => model.Bio):</span>
        <span>
            @Html.DisplayFor(model => model.Bio)
        </span>
    </div>
}

<hr />

<h3>Sessions:</h3>

@if (Model.Sessions.Count() > 0)
{
    <table class="table-striped">
        <thead>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.Sessions[0].Name)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.Sessions[0].SkillLevel)
        </th>
        <th class="col-md-2"></th>
        </thead>
        <tbody>
            @foreach (var session in Model.Sessions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(item => session.Name)
                </td>
                <td>
                    @Html.DisplayFor(item => session.SkillLevel)
                </td>
                <td>
                    @* Allow admins and speakers to edit the sessions *@
                    @if (User.IsInRole("Admin") || (User.IsInRole("Speaker")
                       && speakerId.HasValue && sessionBL.IsSessionEditableBySpeaker(session.SessionId, speakerId.Value)))
                    {
                        <a asp-controller="Sessions" asp-action="Edit" asp-route-id="@session.SessionId">Edit</a><span> | </span>
                    }
                    <a asp-controller="Sessions" asp-action="Details" asp-route-id="@session.SessionId">Details</a>
                    @* Allow admins and speakers to delete sessions *@
                    @if (User.IsInRole("Admin") || (User.IsInRole("Speaker")
                       && speakerId.HasValue && sessionBL.IsSessionEditableBySpeaker(session.SessionId, speakerId.Value)))
                    {
                        <span> | </span><a asp-controller="Sessions" asp-action="Delete" asp-route-id="@session.SessionId">Delete</a>
                    }
                </td>
            </tr>
        }
            </tbody>
        </table>
    }
    else
    {
        <div>No sessions submitted yet...</div>
    }

<div class="bottom-navigation">
    @if (User.IsInRole("Admin") || ((User.IsInRole("Speaker")
       && speakerId.HasValue && Model.SpeakerId == speakerId)))
    {
        <a asp-action="Edit" asp-route-id="@Model.SpeakerId">Edit</a><span> | </span>
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.speakerImage').each(function () {
                setSpeakerImage(this, this.id);
            });
        });
    </script>
}
