@using Codecamp.ViewModels
@model Codecamp.ViewModels.SponsorViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(string.Format("{0} ({1})", Model.CompanyName, SponsorLevel.GetSponsorshipLevelDescription(Model.SponsorLevel)))</h2>

<div class="row">
    <div class="col-md-4">
        <div>
            <img style="max-width: 150px; max-height: 150px;"
                 class="sponsorImage"
                 id="@(string.Format("{0}", Model.SponsorId))"
                 src=@("/images/default_user_icon.jpg")
                 alt="@(string.Format("{0}", Model.CompanyName))" />
        </div>

        @if (!string.IsNullOrEmpty(Model.TwitterHandle))
        {
            <div>
                @{
                    var twitterHandle
                        = Model.TwitterHandle.StartsWith('@')
                        ? Model.TwitterHandle.Substring(1)
                        : Model.TwitterHandle;
                }

                <a href="https://twitter.com/@twitterHandle">@Model.TwitterHandle</a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.WebsiteUrl))
        {
            <div>
                @{
                    var websiteUrl
                    = !Model.WebsiteUrl.StartsWith("http")
                    ? "http://" + Model.WebsiteUrl
                    : Model.WebsiteUrl;
                }

                <a href=@websiteUrl>@Model.WebsiteUrl</a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.Bio))
        {
            <span>@Html.DisplayFor(model => model.Bio)</span>
        }
    </div>
</div>

<div class="bottom-navigation">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.SponsorId">Edit</a><span> | </span>
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.sponsorImage').each(function () {
                setSponsorImage(this, this.id);
            });
        });
    </script>
}
