@page
@model LoginModel

@using Microsoft.AspNetCore.Identity
@using Codecamp.BusinessLogic
@using Codecamp.Models
@inject SignInManager<CodecampUser> SignInManager
@inject UserManager<CodecampUser> UserManager
@inject EventBusinessLogic _eventBL

@{
    ViewData["Title"] = Model.LoginWithRegistration != ""
        && Model.LoginWithRegistration != null ? Model.LoginWithRegistration + " Registration" : "Log in";

    // Get the event
    var theEvent = await _eventBL.GetActiveEvent();
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl"
                  asp-route-loginWithRegistration="@Model.LoginWithRegistration" method="post">
                @if (Model.LoginWithRegistration != ""
                  && Model.LoginWithRegistration != null)
                {
                    <div>
                        <h4>
                            The email address/username already exists,
                            login to complete @Model.LoginWithRegistration.ToLower() registration
                        </h4>
                    </div>
                }
                else
                {
                    <h4>Use a local account to log in.</h4>
                }
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.RememberMe" type="checkbox" class="medium-checkbox" />
                    <label asp-for="Input.RememberMe"></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    @if (theEvent != null && theEvent.IsSpeakerRegistrationOpen)
                    {
                        <p>
                            <a asp-page="./RegisterSpeaker" asp-route-returnUrl="@Model.ReturnUrl">Register as a new Speaker</a>
                        </p>
                    }
                    @if (theEvent != null && theEvent.IsAttendeeRegistrationOpen)
                    {
                        <p>
                            <a asp-page="./RegisterAttendee" asp-route-returnUrl="@Model.ReturnUrl">Register as a new Attendee</a>
                        </p>
                    }
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        &nbsp;
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
