@using Microsoft.AspNetCore.Identity
@inject UserManager<CodecampUser> UserManager
@model Codecamp.ViewModels.SpeakerViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Get the speaker Id
    int? speakerId = null;
    var user = await UserManager.GetUserAsync(User);
    if (user != null)
    {
        speakerId = user.SpeakerId;
    }
}

<h2>Details</h2>

<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd>
            <div style="max-width: 150px; max-height:150px; position: relative;">
                @{
                    string imgSrc = "/images/default_user_icon.jpg";
                    if (!string.IsNullOrEmpty(Model.Image))
                    {
                        imgSrc = Model.Image;
                    }
                }
                <img style="max-width: 150px;"
                        src="@imgSrc"
                        alt="@(string.Format("{0}", Model.FullName))" />
                @if (Model.IsMvp)
                {
                    <img style="width: 30px; height: 30px; z-index: 10; position: absolute; right: 20px; bottom: 20px;"
                         src=@("/images/ms-mvp.jpg") alt=@("Microsoft MVP") />
                }
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMvp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMvp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkedIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwitterHandle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwitterHandle)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin") || ((User.IsInRole("Speaker")
     && speakerId.HasValue && Model.SpeakerId == speakerId)))
    {
        <a asp-action="Edit" asp-route-id="@Model.SpeakerId">Edit</a><span> | </span>
    }
    <a asp-action="Index">Back to List</a>
</div>
