@model Codecamp.ViewModels.SpeakerViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Speaker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CodecampUserId" />
            <input type="hidden" asp-for="SpeakerId" />

            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                        </label>
                    </div>
                </div>
                <hr />
            }
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                @{
                    string imgSrc = "/images/default_user_icon.jpg";
                    if (!string.IsNullOrEmpty(Model.Image))
                    {
                        imgSrc = Model.Image;
                    }
                }
                <div class="input-group">
                    <img style="max-width: 150px;"
                         src="@imgSrc"
                         alt="@(string.Format("{0}", Model.FullName))" />
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div>
                        <span style="font-weight: bold;">Image size: </span> @Html.DisplayFor(model => model.ImageSizePixels)
                    </div>
                    @if (Model.IsImageResizable)
                    {
                        <div class="checkbox">
                            <label>
                                <input asp-for="ResizeImage" /> Resize this image to be no greater than 300 pixels x 300 pixels
                            </label>
                        </div>
                    }
                }
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="alert-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteUrl" class="control-label"></label>
                <input asp-for="WebsiteUrl" class="form-control" />
                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogUrl" class="control-label"></label>
                <input asp-for="BlogUrl" class="form-control" />
                <span asp-validation-for="BlogUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeographicLocation"></label>
                <input asp-for="GeographicLocation" class="form-control" />
                <span asp-validation-for="GeographicLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterHandle"></label>
                <input asp-for="TwitterHandle" class="form-control" />
                <span asp-validation-for="TwitterHandle" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="LinkedIn"></label>
                <input asp-for="LinkedIn" class="form-control" />
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsVolunteer" /> @Html.DisplayNameFor(model => model.IsVolunteer)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsMvp" /> @Html.DisplayNameFor(model => model.IsMvp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NoteToOrganizers" class="control-label"></label>
                <input asp-for="NoteToOrganizers" class="form-control" />
                <span asp-validation-for="NoteToOrganizers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
