@using Microsoft.AspNetCore.Identity
@using Codecamp.Controllers
@model IEnumerable<Codecamp.ViewModels.SpeakerViewModel>
@inject UserManager<CodecampUser> UserManager

@{
    if (string.IsNullOrEmpty((string)ViewData["Title"]))
    {
        ViewData["Title"] = "Speakers";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
    var rowIndex = 1;

    // Get the user's Id
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier) != null
        ? User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value
        : string.Empty;
}

<h2>@ViewData["Title"]</h2>

@if (User.IsInRole("Admin"))
{
    @if (Model.Count() > 0)
    {
        @* This is for the Admins to allow them to edit the speaker *@
        <table class="table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.NoteToOrganizers)
                    </th>
                    <th class="col-md-1" align="center">
                        @Html.DisplayNameFor(model => model.IsMvp)
                    </th>
                    <th class="col-md-1" align="center">
                        @Html.DisplayNameFor(model => model.IsApproved)
                    </th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-3">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td class="col-md-3">
                            @Html.DisplayFor(modelItem => item.NoteToOrganizers)
                        </td>
                        <td class="col-md-1" align="center">
                            @Html.DisplayFor(modelItem => item.IsMvp)
                        </td>
                        <td class="col-md-1" align="center">
                            @Html.DisplayFor(modelItem => item.IsApproved)
                        </td>
                        <td class="col-md-2" align="center">
                            <a asp-action="Edit" asp-route-id="@item.SpeakerId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SpeakerId">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>There are currently no speakers...</div>
    }
}
else
{
    <div class="row" style="margin-bottom: 25px;">
        @if (Model.Count() > 0)
        {
            @foreach (var speaker in Model)
            {
                if (rowIndex == 5)
                {
                @:</div>
                @:<div class="row" style="margin-bottom: 25px;">
                    @* create a new row after four speakers*@
                    rowIndex = 1;
                }

                if (userId == speaker.CodecampUserId)
                {
                    <div class="col-md-3">
                        @* Allow the user to edit themselves via the manage user page *@
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <div style="text-align:center;">
                                <div style="max-width: 150px; max-height: 150px; margin-left: auto; margin-right: auto">
                                    <img style="max-width: 150px; max-height: 150px;"
                                         class="speakerImage"
                                         id="@(string.Format("{0}", speaker.SpeakerId))"
                                         src=@("/images/default_user_icon.jpg")
                                         alt="@(string.Format("{0}", speaker.FullName))" />
                                    @if (speaker.IsMvp)
                                    {
                                        <img style="width: 30px; height: 30px; z-index: 10; position:absolute; top: 110px; left: 150px;"
                                             src=@("/images/ms-mvp.jpg") alt=@("Microsoft MVP") />
                                    }
                                </div>
                                @(string.Format("{0}", speaker.FullName))
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <a asp-action="Details" asp-route-id="@(speaker.SpeakerId)">
                            <div style="text-align:center;">
                                <div style="width: 150px; height: 150px; margin-left: auto; margin-right: auto;">
                                    <img style="max-width: 150px; max-height: 150px;"
                                         class="speakerImage"
                                         id="@(string.Format("{0}", speaker.SpeakerId))"
                                         src=@("/images/default_user_icon.jpg")
                                         alt="@(string.Format("{0}", speaker.FullName))" />
                                    @if (speaker.IsMvp)
                                    {
                                        <img style="width: 30px; height: 30px; z-index: 10; position:absolute; top: 110px; left: 150px;"
                                             src=@("/images/ms-mvp.jpg") alt=@("Microsoft MVP") />
                                    }
                                </div>
                                <span>@(string.Format("{0}", speaker.FullName))</span>
                            </div>
                        </a>
                    </div>
                }
                rowIndex++;
            }
        }
        else
        {
            <div>There are currently no speakers...</div>
        }
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.speakerImage').each(function () {
                setSpeakerImage(this, this.id);
            });
        });
    </script>
}
